@import "basic.css";

.cont-header,.cont-header-icon,.cont-header-icon-2,.icon-num,.cont-header-words,.left,.left-1,.left-2,.left-3.left-4,
.middle,.middle-cont,.section,.num-1,.num-1-sec,.middle-cont-icon,.middle-cont-icon2,.right, .right-1,.right-2,.right-3,
.right-4,.footer-header,.footer-header-icon-2,.icon-words{
    display: inline-block; vertical-align: top; position: relative;
}

.main{
    background:rgba(0, 0, 0, 0.571) url(../images/img_2433.jpg) no-repeat 50% 100%;
    width: 100%; min-width: 1200px; height: 560px; min-height: 560px;
    background-size: cover; background-clip: padding-box; background-attachment: fixed;
    z-index: 1; border: 0;
}
.p-1,.p-2{
    margin-top: 5pt; margin-bottom: -5pt;
}
.p-1{
    text-align: center;
}
.p-2{
    text-align: right;
}
.sp-1,.sp-2{
    font-family: "Avenir Next", sans-serif;  font-weight: 200; text-decoration: none; color: rgb(255,255,255);
}
.sp-1{
    font-size: 18.00pt; line-height: 34.42pt;
}
.sp-2{
    font-size: 18.75pt; line-height: 35.86pt;
}

.content{
    display: block; position: relative; width: 1200px; min-width: 1200px;
    margin-top: 64px; margin-left: auto; margin-right: auto; height: 2400px;
}
.cont-header{
    width: 676px; min-width: 676px; min-height: 180px; margin-left: 511px;
}
.cont-header-icon{
    width: 180px; min-width: 180px; min-height: 180px; border: 0;
    border-radius: 90px; background-color: rgb(211,54,130); z-index: 5;
}
.cont-header-icon-2,.footer-header-icon-2{
    width: 150px; min-width: 150px; height: 150px; min-height: 150px; margin-left: 15px; margin-top: 15px;
    border: 0; border-radius: 75px; background-color: rgb(255,255,255); z-index: 5;
}

.icon-num,.icon-words{
    width: 150px; min-width: 150px; min-height: 50px; margin-left: 15px; margin-top: -100px; z-index: 6;
}
.p-3{
    margin-top: 4pt; margin-bottom: -4pt; text-align: center;
}
.sp-3{
    font-family: Lato; font-size: 17.25pt; font-weight: 400; text-decoration: none;
    color: rgb(0,0,0); line-height: 28.98pt;
}
.cont-header-words{
    width: 481px; min-width: 481px; min-height: 80px; margin-left: 15px; margin-top: 50px; z-index: 5;
}
.p-4{
    margin-top: 4pt; margin-bottom: -4pt; text-align: left;
}
.sp-4,.left span,.right span{
    font-family: "Avenir Next", sans-serif; font-size: 14.25pt; font-weight: 400; text-decoration: none;
    color: rgb(0,0,0); line-height: 27.25pt; z-index: 5;
}

.section{
    width: 1092px; min-width: 1092px; min-height: 1800px; margin-left: 67px; margin-top: -13px;
}

.left{
    width: 460px; min-width: 460px; min-height: 1547px; margin-top: 138px;
}
.left p{
    margin-top: 4pt; margin-bottom: -4pt; text-align: right;
}
.left-1{
    width: 450px; min-width: 450px; min-height: 115px;
}
.left-2{
    width: 450px; min-width: 450px; min-height: 168px; margin-left: 8px; margin-top: 342px;
}
.left-3.left-4{
    width: 430px; min-width: 430px; min-height: 190px; margin-left: 20px;
}
.left-3{
    margin-top: 318px;
}
.left-4{
    margin-top: 280px;
}

.middle{
    width: 180px; min-width: 180px; min-height: 2200px; margin-left:-14px;
}
.middle-cont{
    width: 114px; min-width: 114px; height: 2033px; margin-left: 31px;
}
.middle-cont-column{
    width: 25px; min-width: 25px; height: 2050px; margin-left: 44px; margin-top: -6px;
    border: 0; background-color: rgb(211,54,130); z-index: 3;
}
.middle-cont-icon{
    width: 111px; min-width: 111px; min-height: 111px; border: 0; margin-left: -44px;
    border-radius: 56px; background-color: rgb(211,54,130); z-index: 13; margin-top: 150px;
}
.middle-cont-icon-2,.middle-cont-icon-3,.middle-cont-icon-4,.middle-cont-icon-5,.middle-cont-icon-6,
.middle-cont-icon-7,.middle-cont-icon-8,.middle-cont-icon-9{
    width: 111px; min-width: 111px; min-height: 111px; border: 0; margin-left: -44px;
    border-radius: 56px; background-color: rgb(211,54,130); z-index: 13; margin-top: 120px;
}

.middle-cont-icon2{
    width: 93px; min-width: 93px; height: 92px; min-height: 92px; margin-left: 9px; margin-top: 9px;
    border: 0; border-radius: 46px; background-color: rgb(255,255,255); z-index: 15;
}
.middle-num{
    width: 93px; min-width: 93px; min-height: 43px; margin-top: -79px; margin-left: 8px; z-index: 10;
}
.middle p{
    margin-top: 80pt; margin-left: -10pt; text-align: center;
}
.middle span{
    font-family: Lato; font-size: 15.00pt; font-weight: 400; text-decoration: none;
    color: rgb(0,0,0); line-height: 25.20pt; z-index: 18;
}


.right{
    width: 460px; min-width: 460px; min-height: 2307px; margin-top: 370px;
}
.right p{
    margin-top: 4pt; margin-bottom: -4pt; text-align: left;
}
.right-2{
    width: 450px; min-width: 450px; min-height: 168px; margin-left: 8px; margin-top: 350px;
}
.right-3{
    width: 450px; min-width: 450px; min-height: 168px; margin-left: 8px; margin-top: 300px;
}
.right-4{
    width: 450px; min-width: 450px; min-height: 168px; margin-left: 8px; margin-top: 290px;
}

.footer-header{
    width: 180px; min-width: 180px; height: 180px; margin-top: -640px; margin-left: 510px;
}
.footer-header-icon{
    width: 180px; min-width: 180px; min-height: 180px; border: 0;
    border-radius: 90px; background-color: rgb(211,54,130); z-index: 5;
}


